## Loops in Python

* WHILE -> When we dont know the number of times we want to run the loop
* FOR -> WHen we know the number of times we want to run the loop

## While Loop

#### Syntax

while condition:

    Body of the Loop

In [1]:
a = 1

while a<=10:
    print(a)
    a += 1# a = a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print(10,20,30)
print(10,20,30,sep='->')

10 20 30
10->20->30

In [2]:
print('HELLO')
print("WORLD")
print('BYE')

HELLO
WORLD
BYE

In [3]:
print('HELLO',end=' ')
print("WORLD")
print('BYE')

HELLO WORLD
BYE

In [2]:
a = 1

while a<=10:
    print(a,end=' ')
    a += 1# a = a+1
print()
print("Outside Loop")

1 2 3 4 5 6 7 8 9 10
Outside Loop

In [9]:

first = 'Rahul'
last = 'Arora'

print('Hi',first,last,'How are you?')

print('Hi {} {} How are you?'.format(first,last))

Hi Rahul Arora How are you?
Hi Rahul Arora How are you?

In [4]:
a = 5
b = 6

print(a,"*",b,'=',a*b)
print('{} * {} = {}'.format(a,b,a*b))

5 * 6 = 30
5 * 6 = 30

In [11]:
# Printing the Table of a Number
n = int(input("Enter a Number : "))
a = 1

while a<=10:
    print('{} * {} = {}'.format(n,a,n*a))
    a += 1

Enter a Number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Variable asignment

In [12]:
a = 5
print(a)

a=b=5
print(a,b)

a,b,c = 10,20,30
print(a,b,c)

print(a,b)
a,b = b,a
print(a,b)

5
5 5
10 20 30
10 20
20 10

In [13]:
a = 1
b = 2

print(a,b)

c = a+b
a = b
b = c
print(a,b)

1 2
2 3

In [14]:
a = 1
b = 2

print(a,b)

a,b = b,a+b
print(a,b)

1 2
2 3

In [15]:
# Printing all numbers in fibonacci series till 1000

a,b = 0,1

while a<=1000:
    print(a,end=' ')
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [7]:
# Counitng the number of digits in a number
a = 12345
# Without Loop
print(len(str(a)))
# With Loop
b = a
n = 0
while b:
    #print(b)
    b = b//10
    n +=1
print(n)

5
5

## For LOOP

#### Syntax

for variable in sequence:

    Body of the Loop

In [19]:
for i in [10,20,30]:
    print(i)

10
20
30

In [20]:
for j in 'PYTHON':
    print(j)

P
Y
T
H
O
N

In [21]:
for i in ['HELLO','WORLD',19]:
    print(i)
    if type(i) == str:
        for j in i:
            print(j)

HELLO
H
E
L
L
O
WORLD
W
O
R
L
D
19

In [22]:
for i in [10,20,30]:
    for j in ['A','B']:
        print(i,j)

10 A
10 B
20 A
20 B
30 A
30 B

## Range Function

####  Syntax

range(start,stop,step)

* Step is by default 1
* Start is by default 0 
* Stop is mandatory and is not included in the range

In [23]:
a = range(0,5,1)
print(a)
a = range(5)
print(a)
a = range(1,5)
print(a)
a = range(1,5,2)
print(a)

range(0, 5)
range(0, 5)
range(1, 5)
range(1, 5, 2)

In [24]:
a = list(range(0,5,1))
print(a)
a = list(range(5))
print(a)
a = list(range(1,5))
print(a)
a = list(range(1,5,2))
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3]

In [25]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
a = 'PYTHON'
for i in a:
    print(i)
    
for i in range(len(a)):
    print(i,a[i])

P
Y
T
H
O
N
0 P
1 Y
2 T
3 H
4 O
5 N

In [27]:
# Print first ten terms of fibonacci series
a,b = 0,1

for i in range(10):
    print(a,end=' ')
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34

## Loop Control Statements

* pass  ( Placeholder , No operation )
* break
* continue

In [29]:
# pass

a = 10

if a >50:
    pass
else:
    print(a,'is not avaiable')

10 is not avaiable

In [30]:
for i in range(5):
    pass
print(i)

4

In [31]:
# Break

for i in range(7):
    if i == 4:
        break
    print(i)

0
1
2
3

In [32]:
# Continue 
for i in range(7):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6

In [33]:
a = [112345,546,756325,21421511,452512]
b = []

for i in a:
    if len(str(i)) !=6:
        continue
    b.append(i)
print(b)

[112345, 756325, 452512]

### Nested for Loop

In [1]:
for i in range(2):
    print('i:',i)
    for j in range(3):
        print('\tj:',j)

i: 0
	j: 0
	j: 1
	j: 2
i: 1
	j: 0
	j: 1
	j: 2

## Loop with an else statement

An optional loop completion else statement can be added to check if the loop ran its whole length and did not encounter a break in between.

#### Syntax

for variable in sequence :

    Body of the Loop
    
else:


    Body of else
    
    
    
Further Code

In [1]:
for i in range(5):
    print(i)
else:
    print("ELSE")
print("FURTHER CODE")

0
1
2
3
4
ELSE
FURTHER CODE

In [35]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("ELSE")
print("FURTHER CODE")

0
1
2
FURTHER CODE

In [36]:
for i in range(5):
    if i == 5:
        break
    print(i)
else:
    print("ELSE")
print("FURTHER CODE")

0
1
2
3
4
ELSE
FURTHER CODE

### Usage of for else

In [37]:
# Prime Number COde

n = int(input("Enter a number : "))
flag = 0
for i in range(2,n):
    if n%i == 0:
        flag = 1
        break
if flag == 0:
    print(n,'is Prime')
else:
    print(n,'is not Prime')

Enter a number : 23
23 is Prime

In [38]:
# Prime Number COde

n = int(input("Enter a number : "))

for i in range(2,n//2 + 1):
    if n%i == 0:
        print(n,'is not Prime')
        break
else:
    print(n,'is Prime')

Enter a number : 23
23 is Prime

In [39]:
# Prime numbers within a range

low = 2
high = 20

for n in range(low, high + 1):
    for i in range(2,n//2 +1):
        if n%i == 0:
            break
    else:
        print(n)

2
3
5
7
11
13
17
19

In [40]:

low = 2
high = 20
primes = []
for n in range(low, high + 1):
    for i in range(2,n//2 +1):
        if n%i == 0:
            break
    else:
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

### List Comprehension


#### Syntax

[expression for vairable in sequence]

[expression for variable in sequence if condition filetering]

[expression if condtion else expression for varaible in sequence]

In [42]:
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [43]:
# Using List comprehension (LC)

a = [i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [44]:
a = ['1', '2', '3', '4']
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [45]:
# Using LC
a = ['1', '2', '3', '4']
a = [int(i) for i in a]
print(a)

[1, 2, 3, 4]

In [46]:
a = [
    '\n',
    '>d crallext 0912\n',
    'SYNTEL NEOS 160  Ver 0.8   Call Record',
    '1285  303         004  9929644331       09/12 10:38',
    '1314  303         004  9414057679       09/12 10:58',
    '1487  303         004  9001420340       09/12 12:19',
]

b = []
for i in a:
    if i[0].isdigit():
        b.append(i)
print(b)

for i in range(len(b)):
    b[i] = b[i].split()
print(b)
#pip install tabulate
from tabulate import tabulate
print(tabulate(b,tablefmt='fancy_grid'))

['1285  303         004  9929644331       09/12 10:38', '1314  303         004  9414057679       09/12 10:58', '1487  303         004  9001420340       09/12 12:19']
[['1285', '303', '004', '9929644331', '09/12', '10:38'], ['1314', '303', '004', '9414057679', '09/12', '10:58'], ['1487', '303', '004', '9001420340', '09/12', '12:19']]
╒══════╤═════╤═════╤════════════╤═══════╤═══════╕
│ 1285 │ 303 │ 004 │ 9929644331 │ 09/12 │ 10:38 │
├──────┼─────┼─────┼────────────┼───────┼───────┤
│ 1314 │ 303 │ 004 │ 9414057679 │ 09/12 │ 10:58 │
├──────┼─────┼─────┼────────────┼───────┼───────┤
│ 1487 │ 303 │ 004 │ 9001420340 │ 09/12 │ 12:19 │
╘══════╧═════╧═════╧════════════╧═══════╧═══════╛

In [47]:
a = [
    '\n',
    '>d crallext 0912\n',
    'SYNTEL NEOS 160  Ver 0.8   Call Record',
    '1285  303         004  9929644331       09/12 10:38',
    '1314  303         004  9414057679       09/12 10:58',
    '1487  303         004  9001420340       09/12 12:19',
]

b = [i for i in a if i[0].isdigit()]
print(b)

b = [i.split() for i in b]
print(b)
from tabulate import tabulate
print(tabulate(b,tablefmt='fancy_grid'))

['1285  303         004  9929644331       09/12 10:38', '1314  303         004  9414057679       09/12 10:58', '1487  303         004  9001420340       09/12 12:19']
[['1285', '303', '004', '9929644331', '09/12', '10:38'], ['1314', '303', '004', '9414057679', '09/12', '10:58'], ['1487', '303', '004', '9001420340', '09/12', '12:19']]
╒══════╤═════╤═════╤════════════╤═══════╤═══════╕
│ 1285 │ 303 │ 004 │ 9929644331 │ 09/12 │ 10:38 │
├──────┼─────┼─────┼────────────┼───────┼───────┤
│ 1314 │ 303 │ 004 │ 9414057679 │ 09/12 │ 10:58 │
├──────┼─────┼─────┼────────────┼───────┼───────┤
│ 1487 │ 303 │ 004 │ 9001420340 │ 09/12 │ 12:19 │
╘══════╧═════╧═════╧════════════╧═══════╧═══════╛

### List comprehension with condition filtering

In [48]:
a = []
for i in range(5):
    if i%2 != 0:
        a.append(i)
print(a)

[1, 3]

In [49]:
# List comprehension
a = [i for i in range(5) if i%2 != 0]
print(a)

[1, 3]

In [50]:
a = []
for i in range(5):
    if i%2 != 0:
        a.append((i,'ODD'))
    else:
        a.append((i,'EVEN'))
print(a)

[(0, 'EVEN'), (1, 'ODD'), (2, 'EVEN'), (3, 'ODD'), (4, 'EVEN')]

In [51]:
# LC

a = [(i,'ODD') if i%2 != 0 else (i,'EVEN') for i in range(5)]
print(a)

[(0, 'EVEN'), (1, 'ODD'), (2, 'EVEN'), (3, 'ODD'), (4, 'EVEN')]

### List comprehension over nested loops

In [52]:
a = []
for i in range(2):
    for j in range(3):
        a.append((i,j))
print(a)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [53]:
a = [(i,j) for i in range(2) for j in range(3)]
print(a)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [54]:
A0 = [1,2,3,4,5]
print(A0)
A1 = range(10)
print(A1)
A2 = [i for i in A1 if i in A0]
print(A2)
A3 = [A0 for s in A0]
print(A3)
A4 = [i for i in A1 if i in A3]
print(A4)
A5 = [[i,i*i] for i in A1]
print(A5)

[1, 2, 3, 4, 5]
range(0, 10)
[1, 2, 3, 4, 5]
[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
[]
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]

### Nested List comprehension

In [55]:
# Prime between a given range
low = 2
high = 10
a = []
for n in range(low,high+1):
    for i in range(2,n//2 + 1):
        if n%i == 0:
            break
    else:
        a.append(n)
print(a)

[2, 3, 5, 7]

In [56]:
# LC
low,high = 2,10
a = [n for n in range(low,high+1) if 0 not in [n%i for i in range(2,n//2 +1)]]
print(a)

[2, 3, 5, 7]

## Question

Given a string and a width you have to print the string line by line with maximum characters in a line equals to the width mentioned

In [57]:

a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
w = 4

b = []
for i in range(0,len(a),w):
    b.append(a[i:i+w])
print(b)
b = '\n'.join(b)
print(b)

['ABCD', 'EFGH', 'IJKL', 'MNOP', 'QRST', 'UVWX', 'YZ']
ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ

In [58]:
#LC

a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
w = 4

b = '\n'.join([a[i:i+w] for i in range(0,len(a),w)])
print(b)

ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ

In [10]:
# Remove duplicates from  a list

a = [10,40,40,40,20,30,40]
b = []
for i in a:
    if a.count(i) == 1:
        b.append(i)
print(b)

a = [i for i in a if a.count(i) == 1]
print(a)

[10, 20, 30]
[10, 20, 30]